:root {
  /* Color */
  --primary-color: #f1592a;
  --secondary-color: #36a681;
  --tertiary-color: #fae4dd;
  --bg-light: #fbfbfb;
  --text-dark: #707070;
  --text-light: #ffffff;
}

* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

body {
  font-family: "Cabin", sans-serif;
  color: var(--text-dark) !important;
}

a {
  text-decoration: none;
  color: var(--text-dark) !important;
}

.navbar .nav-link {
  padding: 2rem 1rem !important;
  border-bottom: 1px solid transparent;
  font-size: 0.95rem;
}

.navbar .nav-link:hover {
  color: var(--primary-color) !important;
}

.nav-right div a {
  color: var(--primary-color);
  border-radius: 5px;
  font-size: 1.2rem;
  width: 36px;
  height: 36px;
  text-align: center;
}

.navbar button:focus {
  border: 1px dotted var(--text-dark);
  box-shadow: none !important;
}

.visited {
  color: var(--primary-color) !important;
  border-bottom: 1px solid var(--primary-color) !important;
}

.dashboard-container {
  max-width: 1200px;
}

/* Container */
.content-container {
  max-width: 1200px !important;
  margin: 0 auto !important;
  padding: 1rem 1.5rem !important;
}

.card {
  padding: 1.5rem !important;
}

/* Dashboard */
.dashboard-home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 3rem;
}

/* Grid Container */
.grid-container .stat {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  column-gap: 2rem;
  row-gap: 0.5rem;
}

.grid-container .stat a {
  color: #333 !important;
  transition: 0.15s ease-in-out;
}

.grid-container .stat a:hover,
.grid-container .stat a:focus {
  background: var(--primary-color);
  color: var(--text-light) !important;
}

/* Reports */
.reports-card {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  column-gap: 1rem;
  background: #fff;
}

.reports-stat {
  position: relative;
}

.reports-stat svg {
  width: 175px;
  height: 175px;
}

.stats-value {
  position: absolute;
  top: 50px;
  left: 65px;
}

.date {
  background: #fff;
  align-self: start;
}

/* Invoices */
.invoices p,
.invoices span {
  font-size: 0.8rem;
}

/* History */
.history h3 {
  font-size: 0.9rem;
}

.history p {
  font-size: 0.9rem;
}

/* Bank Register */
.bank-register h3 {
  font-size: 0.9rem;
}

.bank-container {
  max-width: 600px;
}

.transfer-container {
  max-width: 900px !important;
}

.transfer-container form > div {
  display: flex;
  justify-content: space-between;
}

/* Form */
.form-content {
  display: flex;
  flex-direction: column;
  margin: 0.2rem !important;
}

.form-content label {
  display: block;
}

.form-content input,
.form-content select {
  width: 250px;
  height: 30px;
  padding: 0 0.3rem !important;
}

form > div {
  display: flex;
}

/* Media Queries */
@media (max-width: 1199px) {
  .navbar {
    padding: 1.5rem !important;
  }

  .visited {
    display: none;
  }
}

@media (max-width: 1000px) {
  /* Dashboard */
  .dashboard-home {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {
  .bank-container {
    width: 100%;
  }
  .transfer-container {
    width: 100% !important;
  }

  .transfer-container form > div {
    display: flex;
    flex-direction: column;
  }

  .form-content input,
  .form-content select {
    width: 100%;
    height: 30px;
    padding: 0 0.3rem !important;
  }
}

@media (max-width: 600px) {
  .reports-card {
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
  }

  .date {
    justify-self: center;
    margin-top: 1rem !important;
  }

  .reports-container {
    text-align: center;
    margin-bottom: 1rem !important;
  }

  .reports-stat svg {
    width: 160px;
    height: 160px;
  }
}
